<a href="https://colab.research.google.com/github/fahimar/Data_Structure/blob/main/GoogleColabDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas  as pd

In [2]:
!pwd

/content

In [3]:
!pip install automl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting automl
  Downloading automl-2.9.9-py2.py3-none-any.whl (71 kB)
     |████████████████████████████████| 71 kB 81 kB/s
Requirement already satisfied: scipy<2.0,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from automl) (1.7.3)
Requirement already satisfied: python-dateutil<3.0,>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from automl) (2.8.2)
Collecting h5py<3.0,>=2.7.0
  Downloading h5py-2.10.0-cp37-cp37m-manylinux1_x86_64.whl (2.9 MB)
     |████████████████████████████████| 2.9 MB 64.9 MB/s
Collecting scikit-learn<1.0,>=0.18.1
  Downloading scikit_learn-0.24.2-cp37-cp37m-manylinux2010_x86_64.whl (22.3 MB)
     |████████████████████████████████| 22.3 MB 50.0 MB/s
Requirement already satisfied: tabulate<1.0,>=0.7.5 in /usr/local/lib/python3.7/dist-packages (from automl) (0.8.10)
Collecting pathos<0.3.0,>=0.2.1
  Downloading pathos-0.2.9-py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 5.5 MB/s
Collecting dill<0.3,>=0.2.5
  Downloading dill-0.2.9.tar.gz (150 kB)
     |████████████████████████████████| 150 kB 71.7 MB/s
Requirement already satisfied: numpy<2.0,>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from automl) (1.21.6)
Collecting sklearn-deap2<0.3,>=0.2.1
  Downloading sklearn-deap2-0.2.2.tar.gz (8.5 kB)
Collecting pandas<1.0,>=0.18.0
  Downloading pandas-0.25.3-cp37-cp37m-manylinux1_x86_64.whl (10.4 MB)
     |████████████████████████████████| 10.4 MB 54.6 MB/s
Collecting lightgbm<2.1,>=2.0.11
  Downloading lightgbm-2.0.12-py2.py3-none-manylinux1_x86_64.whl (627 kB)
     |████████████████████████████████| 627 kB 61.8 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from h5py<3.0,>=2.7.0->automl) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas<1.0,>=0.18.0->automl) (2022.6)
Collecting pathos<0.3.0,>=0.2.1
  Downloading pathos-0.2.8-py2.py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 11.1 MB/s
Collecting pox>=0.3.0
  Downloading pox-0.3.2-py3-none-any.whl (29 kB)
Collecting multiprocess>=0.70.12
  Downloading multiprocess-0.70.14-py37-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 71.4 MB/s
Collecting ppft>=1.6.6.4
  Downloading ppft-1.7.6.6-py3-none-any.whl (52 kB)
     |████████████████████████████████| 52 kB 1.4 MB/s
Collecting pathos<0.3.0,>=0.2.1
  Downloading pathos-0.2.7-py2.py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 10.7 MB/s
  Downloading pathos-0.2.6.zip (219 kB)
     |████████████████████████████████| 219 kB 81.2 MB/s
  Downloading pathos-0.2.5.tar.gz (162 kB)
     |████████████████████████████████| 162 kB 69.2 MB/s
  Downloading pathos-0.2.4.tar.gz (162 kB)
     |████████████████████████████████| 162 kB 57.8 MB/s
  Downloading pathos-0.2.3.tar.gz (162 kB)
     |████████████████████████████████| 162 kB 60.5 MB/s
Collecting multiprocess>=0.70.7
  Downloading multiprocess-0.70.13-py37-none-any.whl (115 kB)
     |████████████████████████████████| 115 kB 69.2 MB/s
  Downloading multiprocess-0.70.12.2-py37-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 73.7 MB/s
  Downloading multiprocess-0.70.12.1.zip (3.3 MB)
     |████████████████████████████████| 3.3 MB 60.1 MB/s
  Downloading multiprocess-0.70.12-py37-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 67.3 MB/s
  Downloading multiprocess-0.70.11.1-py37-none-any.whl (108 kB)
     |████████████████████████████████| 108 kB 79.1 MB/s
  Downloading multiprocess-0.70.11-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 9.4 MB/s
  Downloading multiprocess-0.70.10.zip (2.4 MB)
     |████████████████████████████████| 2.4 MB 64.1 MB/s
  Downloading multiprocess-0.70.9.tar.gz (1.6 MB)
     |████████████████████████████████| 1.6 MB 57.0 MB/s
  Downloading multiprocess-0.70.8.tar.gz (1.6 MB)
     |████████████████████████████████| 1.6 MB 59.9 MB/s
  Downloading multiprocess-0.70.7.tar.gz (1.4 MB)
     |████████████████████████████████| 1.4 MB 55.9 MB/s
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0,>=0.18.1->automl) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.0,>=0.18.1->automl) (1.2.0)
Collecting deap>=1.0.2
  Downloading deap-1.3.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (139 kB)
     |████████████████████████████████| 139 kB 63.3 MB/s
Building wheels for collected packages: dill, pathos, multiprocess, sklearn-deap2
  Building wheel for dill (setup.py) ... done
  Created wheel for dill: filename=dill-0.2.9-py3-none-any.whl size=77421 sha256=ccf393f49df7147b7cef351953b70dc00e185b55924a906727747e74992df813
  Stored in directory: /root/.cache/pip/wheels/31/87/19/1fb8f037d75fdc0841c772ecdfd5fdf22f85300d25c73f66cb
  Building wheel for pathos (setup.py) ... done
  Created wheel for pathos: filename=pathos-0.2.3-py3-none-any.whl size=77246 sha256=d04a09d449b41629510cb5e09e3a5c72b962d49bdc5bc7f979c6ae59aa89ee1f
  Stored in directory: /root/.cache/pip/wheels/68/08/7f/119374c5a0e13edf0ad9ab6da38638c014180e23bfd2658443
  Building wheel for multiprocess (setup.py) ... done
  Created wheel for multiprocess: filename=multiprocess-0.70.7-cp37-cp37m-linux_x86_64.whl size=135515 sha256=3f44d39f95a61a039730fda7ae3efaf86247b271efef4b5f2f7521795b0d10d3
  Stored in directory: /root/.cache/pip/wheels/75/88/ac/d3864c85bff60a7eef8a5a043fc41205329acd8df1938d9663
  Building wheel for sklearn-deap2 (setup.py) ... done
  Created wheel for sklearn-deap2: filename=sklearn_deap2-0.2.2-py3-none-any.whl size=9064 sha256=68a38fb2045ec1c50156de58cec8dd04f2a935ecd03833112f3489868b98bd26
  Stored in directory: /root/.cache/pip/wheels/6f/2f/95/2a4d6d0ffee746cb25f393a371643686140493d262659fbaf7
Successfully built dill pathos multiprocess sklearn-deap2
Installing collected packages: dill, scikit-learn, ppft, pox, multiprocess, deap, sklearn-deap2, pathos, pandas, lightgbm, h5py, automl
  Attempting uninstall: dill
    Found existing installation: dill 0.3.6
    Uninstalling dill-0.3.6:
      Successfully uninstalled dill-0.3.6
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
  Attempting uninstall: lightgbm
    Found existing installation: lightgbm 2.2.3
    Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3
  Attempting uninstall: h5py
    Found existing installation: h5py 3.1.0
    Uninstalling h5py-3.1.0:
      Successfully uninstalled h5py-3.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
yellowbrick 1.5 requires scikit-learn>=1.0.0, but you have scikit-learn 0.24.2 which is incompatible.
xarray 0.20.2 requires pandas>=1.1, but you have pandas 0.25.3 which is incompatible.
prophet 1.1.1 requires pandas>=1.0.4, but you have pandas 0.25.3 which is incompatible.
plotnine 0.8.0 requires pandas>=1.1.0, but you have pandas 0.25.3 which is incompatible.
mizani 0.7.3 requires pandas>=1.1.0, but you have pandas 0.25.3 which is incompatible.
google-colab 1.0.0 requires pandas>=1.1.0, but you have pandas 0.25.3 which is incompatible.
Successfully installed automl-2.9.9 deap-1.3.3 dill-0.2.9 h5py-2.10.0 lightgbm-2.0.12 multiprocess-0.70.7 pandas-0.25.3 pathos-0.2.3 pox-0.3.2 ppft-1.7.6.6 scikit-learn-0.24.2 sklearn-deap2-0.2.2

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
!ls

gdrive	sample_data

In [3]:
!ls /content/gdrive/Mydrive/data

ls: cannot access '/content/gdrive/Mydrive/data': No such file or directory

In [4]:
!ls /content/gdrive/MyDrive/data

train.csv

In [5]:
import pandas as pd
df = pd.read_csv("/content/gdrive/MyDrive/data/train.csv")

In [6]:
import pandas as pd
df = pd.read_csv("/content/gdrive/MyDrive/data/train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df2 = pd.read_csv("https://raw.githubusercontent.com/massquantity/Kaggle-Titanic/master/Data/train.csv")
df2.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S